@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: rgb(216, 255, 219);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  background-image: url("src\\components\\assets\\bg2.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

#app {
  font-family: "Lato", sans-serif;
}
