@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,700;1,900&display=swap");

@font-face {
  font-family: "Secular One";
  src: url("/src/components/fonts/SecularOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Montserra";
  src: url("/src/components/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Raleway";
  src: url("/src/components/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Nunito";
  src: url("/src/components/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/src/components/fonts/RobotoCondensed-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(216, 255, 219);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  background-image: url("/src/components/assets/bg2.png");
  background-size: cover;
  height: 100vh;
  margin: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

body,
p {
  font-family: "Nunito", sans-serif;
  font-weight: 650;
  font-size: large;
}

button,
.btn,
.label {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
